/* Fonts settings */

body,
p,
.navbar,
.brand,
a,
.td-name,
td,
button,
input,
select,
textarea {
    font-family: "Roboto", "Helvetica", Arial, sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.title,
.card-title,
.info-title,
.footer-brand,
.footer-big h5,
.footer-big h4,
.media .media-heading,
.titulo {
    font-family: "Dosis", "Helvetica", Arial, sans-serif;
    font-weight: 600;
}

.titulo {
    color: #83AF3E;
    font-size: 24px;
}

.titulos {
    color: #83AF3E;
    padding-right: 25px;
    font-size: 16px;
}


/* Common Styles */

.title {
    color: #83AF3E;
    text-align: center;
}

.icon-verde {
    background-color: #34d83c;
}

.textoCont {
    color: #818181;
    font-size: 16px;
}

.bg-gradientAzul {
    color: #383be7;
    font-weight: bold;
}

.bg-gradientVerde {
    color: #38e747;
    font-weight: bold;
}

.bg-gradientAmarillo {
    color: #c0e420;
    font-weight: bold;
}

.forma {
    width: 560px;
    height: 315px;
}

@media(max-width: 832px) {
    .caps {
        width: 300px;
        height: 400px;
    }
}

@media(max-width: 612px) {
    .forma {
        width: 460px;
        height: 315px;
    }
}

@media(max-width: 475px) {
    .forma {
        width: 360px;
        height: 315px;
    }
}

@media(max-width: 575px) {
    .logo {
        width: 15%;
        height: 15%;
    }
}

@media(max-width: 415px) {
    .forma {
        width: 320px;
        height: 310px;
    }
    .description {
        margin-right: 0 !important;
    }
}

.btn-download {
    color: #000000;
    background-color: #ffffff;
    padding: 8px 15px;
    border: 1.5px solid #000000;
    border-radius: 1.8em;
}

.btn-download:hover {
    background: #000000;
    color: #ffffff;
}

.btn-explorar {
    color: #000000;
    background-color: #ffffff;
    padding: 8px 20px;
    border: 1.5px solid #000000;
    border-radius: 1.8em;
}

.btn-explorar:hover {
    background: #000000;
    color: #ffffff;
}

.mapa {
    margin-top: 10%;
}

.tam {
    height: 100%;
}

a {
    color: #111111;
}

.contenedor {
    width: 100%;
}

@media(min-width:360px) {
    .contenedor {
        width: 100%;
    }
}


/* Header Section */

.caps {
    width: 400px;
}

.aa-header {
    background-image: url(/images/home-portada.png);
    width: 100%;
    height: 10%;
    position: relative;
    background-size: cover;
}

.aa-header .navbar .logo {
    width: 6%;
    height: 6%;
}

.aa-header .navbar .navbar-brand {
    font-size: 24px;
    font-family: "Dosis", "Helvetica", Arial, sans-serif;
    font-weight: 600;
    box-shadow: none;
    letter-spacing: 1px;
    color: #DC4FB6;
    opacity: 1;
}

.aa-header .aa-header-content {
    padding-top: 1rem;
    padding-bottom: 6rem;
}

.aa-header .aa-header-content h1 {
    letter-spacing: 1px;
    color: #111111;
}

@media (max-width: 576px) {
    .logo {
        width: 15%;
        height: 15%;
    }
}


/* Body Section */

.aa-product-details .description {
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.aa-product-details .description .h4 {
    color: #111111;
    padding-bottom: 20px;
}

.aa-product-details .icon {
    float: left;
    margin-top: 24px;
    margin-right: 60px;
    font-size: 3rem;
}

.aa-screenshots {
    background-color: #F5FAFD;
}

.aa-price-package .card {
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 10px -1px;
}

.aa-price-package .aa-price {
    padding-bottom: 1.5rem;
    background-color: #F5FAFD;
}

.aa-price-package .aa-price .btn {
    width: 8rem;
}

.aa-price-package .aa-price .aa-price-section {
    padding: 25px 5px;
    background-color: #f1f5f0;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    font-size: 28px;
    font-family: "Dosis", "Helvetica", Arial, sans-serif;
    font-weight: 600;
}

.aa-price-package .aa-price .aa-price-section span {
    font-family: "Dosis", "Helvetica", Arial, sans-serif;
    font-weight: 600;
    font-size: 38px;
}

.aa-price-package .aa-price ul li {
    line-height: 3;
    border-bottom: 1px dashed rgb(22, 22, 22);
}

.aa-price-package .aa-price-active {
    background-color: white;
}

.aa-price-package .aa-price-active .btn {
    border: none;
    padding-top: .65rem;
    padding-bottom: .65rem;
}

.aa-price-package .text-small {
    font-size: 90%;
    line-height: 3;
    opacity: 0.75;
}

.aa-price-package .text-small:hover {
    opacity: 1;
}

.aa-download-section i {
    color: rgb(0, 0, 0);
}

.aa-download-section .aa-apple:hover i {
    color: #000000;
}

.aa-download-section .aa-android:hover i {
    color: #a4c639;
}

.aa-download-section .aa-windows:hover i {
    color: #DC4FB6;
}

.aa-download-section .aa-download-icon {
    padding-left: 40px;
}

@media (max-width: 992px) {
    .aa-download-section p {
        font-size: 10px;
    }
}

@media (max-width: 992px) {
    .aa-download-section p {
        font-size: 12px;
    }
    .aa-download-section .aa-download-icon {
        padding-left: 0px;
        text-align: center;
    }
    .aa-download-section .aa-download-icon-detail {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .aa-download-section p {
        font-size: 14px;
    }
}


/* Footer sectiom */

ul {
    color: #111111;
}